* { padding: 0; 
    margin: 0; 
    top: 50%;
}

canvas { background:
     rgb(110, 92, 216); 
     display: block; 
     margin: 0 auto; 
     top:50%;
    }

body{
    background-image: url(stalin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}